/* Comentário em CSS */
/*
Sintaxe:
elemento {propriedade: valor}
*/
/* Seletor de elemento */
h1{
    color: rgba(226, 14, 14, 0.76);
    text-align: center;
    font-size: 60px;
    font-family: 'Odibee Sans', cursive, sans-serif;
    background: linear-gradient(rgba(2, 60, 70, 0.349), blue);
}
/* Seletor de id */
#paragrafo1{
    color: chocolate;
    font-family: 'Odibee Sans', Arial;
}
#paragrafo2{
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    font-family: 'Odibee Sans', Arial;
    background-color: yellowgreen;
}
/* Seletor de classe */
.grupo1{
    font-size: 50px;
}
.grupo2{
    color: blue;
}